@keyframes border-pulse {
  0% {
    box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.1),
      0 0 0 2rem rgba(255, 255, 255, 0.15), 0 0 0 3rem rgba(255, 255, 255, 0.2);
  }

  50% {
    box-shadow: 0 0 0 1.25rem rgba(255, 255, 255, 0.1),
      0 0 0 2.75rem rgba(255, 255, 255, 0.1), 0 0 0 4rem rgba(255, 255, 255, 0);
  }
  75% {
    box-shadow: 0 0 0 1.5rem rgba(255, 255, 255, 0.1),
      0 0 0 3rem rgba(255, 255, 255, 0), 0 0 0 5rem rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 1.75rem rgba(255, 255, 255, 0),
      0 0 0 3.75rem rgba(255, 255, 255, 0), 0 0 0 6rem rgba(255, 255, 255, 0);
  }
}

.home {
  background: url("./mars.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;
}

.home h1 {
  color: #ffffff;
  font-family: ralewaymedium;
  font-size: 3em;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 20%;
  width: 100%;
}

.home .enter_button {
  animation: border-pulse 2s infinite;
  background: #ffffff;
  border-radius: 50%;
  height: 75px;
  left: calc(50% - 75px/2);
  margin: 0 auto;
  position: absolute;
  opacity: 0.4; 
  top: calc(50% - 75px/2);
  width: 75px;
}

.home h2 {
  bottom: 15%;
  color: #ffffff;
  font-family: ralewaymedium;
  font-size: 2em;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  width: 100%;
}

